* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root,
.App {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #5a4fcf;
  height: 13%;
  display: flex;
  align-items: center;
  color: #f9fbfa;
}
#main-title-area {
  width: 20%;
}

#page-name {
  margin: 15px;
}

.utilities {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.utilities-elem {
  margin-right: 15px;
}

#page-title {
  margin: 15px;
}

.search-area {
  height: 10%;
  border: 3px solid #9795f9;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.subheading,
.title-input {
  margin-left: 15px;
}

.fancy-input {
  margin-top: 7px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
}

.search-result-area {
  height: 210px;
}

.stock {
  background-color: #b9eacd;
  height: 75px;
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 80%;
  border: 3px solid #13aa52;
  margin: 5px 0px 5px 0px;
}

.stock:hover {
  background-color: #83dba7;
}

.stock-name {
  margin: 0px 0px 5px 0px;
}

.expand-arrow {
  font-size: 25px;
}

.expanded-wrapper {
  border: 3px solid #13aa52;
  min-height: 200px;
  width: 80%;
  margin: 5px 0px 5px 0px;
}

.expanded-wrapper > .stock {
  background-color: #83dba7;
  border: none;
  width: 100%;
  margin: 0px;
}

.expanded-wrapper > .stock:hover {
  background-color: #b9eacd;
}

.stock-header {
  display: flex;
}

h4 {
  margin: 0px 0px 5px 0px;
}

p {
  margin: 0;
  font-style: italic;
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}

.prem-data-col {
  padding: 5px 15px 5px 15px;
  width: 30%;
}

.right > .data-field {
  display: flex;
  justify-content: flex-end;
}

.data-field {
  display: flex;
}

.data {
  margin-left: 5px;
}

.prem-data-section {
  display: flex;
  height: 125px;
  justify-content: space-between;
}

#current-price-field {
  display: flex;
  align-items: center;
}

button {
  padding: 3px 5px;
  margin: 5px;
  font-size: 11px;
  cursor: pointer;
  border: none;
  border-radius: 0;
  box-shadow: 3px 3px gray;
  background-color: white;
}

button:active {
  background-color: lightgray;
  box-shadow: 3px 3px black;
  transform: translateY(2px) translateX(2px);
}

/* button:focus {
  outline: #fed18c groove 2px;
} */
