* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
}

#root,
.App {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: #157145;
  min-height: 13%;
  display: flex;
  align-items: center;
  color: #f9fbfa;
}
#main-title-area {
  width: 20%;
}

#page-name {
  margin: 15px;
}

.utilities {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.utilities-elem {
  margin-right: 15px;
}

#page-title {
  margin: 15px;
}

.search-area {
  height: 75px;
  border: 3px solid #13aa52;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.subheading,
.title-input,
#premium-flag {
  margin-left: 15px;
}

.fancy-input {
  margin-top: 7px;
  height: 20px;
  font-size: 15px;
  font-weight: bold;
}

.search-result-area {
  min-height: 210px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.saved-stocks {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-header {
  align-self: flex-start;
  margin-left: 5%;
  margin-bottom: 5px;
}

.stock {
  background-color: #88D4A8; 
  height: 75px;
  padding: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 90%;
  border: 3px solid #13aa52;
  margin: 5px 0px 5px 0px;
}

.stock:hover {
  background-color: #157145;
  color: #f9fbfa;
}

.stock-name {
  margin: 0px 0px 5px 0px;
}

.expand-arrow {
  font-size: 25px;
}

.expanded-wrapper {
  border: 3px solid #13aa52;
  height: auto;
  width: 90%;
  margin: 5px 0px 5px 0px;
}

.expanded-wrapper > .stock {
  background-color: #157145;
  color: #f9fbfa;
  border: none;
  width: 100%;
  margin: 0px;
}

.expanded-wrapper > .stock:hover {
  background-color: #13aa52;
}

.stock-header {
  display: flex;
}

h4 {
  margin: 0px 0px 5px 0px;
}

p {
  margin: 0;
  font-style: italic;
  font-size: 15px;
  margin: 0px 0px 5px 0px;
}

.prem-data-col {
  padding: 5px 15px 5px 15px;
  width: 45%;
}

.right > .data-field {
  display: flex;
  justify-content: flex-end;
}

.data-field {
  display: flex;
}

.data {
  margin-left: 5px;
}

.prem-data-section {
  display: flex;
  min-height: 125px;
  justify-content: space-between;
}

#current-price-field {
  display: flex;
  align-items: center;
}

button {
  padding: 3px 5px;
  margin: 5px;
  font-size: 11px;
  border: 2px solid #f9fbfa;
  border-radius: 3px;
  color: #f9fbfa;
  background-color: #157145;
}

button:hover {
  background-color: #378d63;
}

button:active {
  background-color: #58aa82;
}

button:disabled {
  background-color: #58aa82;
}

.login-label,
.login-input,
.login-button {
  margin-left: 8px;
}
